.container {
    max-width: 960px;
    margin: 100px auto;
    padding: 10px;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    /* row-gap: 10px;
    column-gap: 10px; */
    gap: 10px;

    grid-auto-rows: minmax(100px,auto);
    /* grid-template-rows: repeat(3, 1fr); */

    /* align-items: end; */
}

.item {
    background-color: red;
    color: greenyellow;
    font-size: 20px;
    padding: 20px;
    border: pink 1px solid;
    /* margin: 20px; dont need this bc we have gap property with grid*/
}