.container {
    max-width: 960px;
    margin: 100px auto;
    padding: 10px;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* row-gap: 10px;
    column-gap: 10px; */
    gap: 10px;

    /* grid-auto-rows: minmax(100px,auto); */
    /* grid-template-rows: repeat(3, 1fr); */

    /* same as flexbox */
    /* align-items: end; */
    /* justify-content: space-around; */
}

.item {
    background-color: red;
    color: greenyellow;
    font-size: 20px;
    padding: 20px;
    border: pink 1px solid;
    /* margin: 20px; dont need this bc we have gap property with grid*/
}

/* .item:nth-of-type(2) {
    height: 100px;
    width: 100px;
    align-self: center;
    justify-self: center;
} */

.item:nth-of-type(1) {
    background-color: black;
    grid-column-start: 1;
    grid-column-end: 3;
    /* grid-column: 1 / 3; */
    /* grid-column: 1 / span(2); */
}

.item:nth-of-type(3) {
    background-color: black;
    grid-row: 2 / 4;
}